/* make global colors definitions */
:root {
    --color-white: #ffffff;
    --color-light-grey: #d9d9d9;
    --color-dark-grey: #353535;
    --color-teal: #3c6e71;
    --color-blue: #284b63;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-light-grey);
    color: var(--color-dark-grey);
}

.App {
    margin-top: 30px;
    text-align: center;
}

.Board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
    width: calc(3 * 150px + 2 * 10px + 2 * 10px);
    padding: 10px;
    margin: 25px auto;
    background-color: var(--color-teal);
}


.Piece {
    width: 150px;
    height: 150px;
    background-color: var(--color-white);
    /* border: 5px solid var(--color-light-grey); */
    padding-top: 50px;
}

.Title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--color-dark-grey);
}

button {
    font-size: 32px;
    padding: 10px;
    background-color: var(--color-teal);
    border: none;
    color: var(--color-white);
    margin: 10px;
}

button:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}

.Empty {
    visibility: hidden;
}
